.product-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 300px;
    min-width: 450px;
    border: 1px black solid;
    background-color: rgba(233, 227, 227, 0.13);
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.product-card:hover{

    background-color: rgba(211, 202, 202, 0.466);
}
.product-image{

    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: none;
    margin-top: 20px;
}

.product-title{

    width: 150px;
}

